{% extends 'base.html' %}
       {% block content%}

      <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Drone Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Serial</th>
          <th scope="col">Associated Camera</th>
        </tr>
      </thead>
      <tbody>
       
          {% for drone in drones %}
          <tr>
            <th scope="row">{{drone.name}}</th>
            <td>{{drone.brand}}</td>
            <td>{{drone.serial_number}}</td>
            <td>{{drone.associated_camera}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
      
    </tbody>
    </table>
    {% endblock %}
    
   